[Unit]
Description=ehco
After=network.target
  
[Service]
LimitNOFILE=65535
Type=forking
ExecStart=/usr/sbin/ehco -c /root/ehco.json
PrivateTmp=true 
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target


